@import './variables.scss';

button {

    min-width: 100px;
    font-weight: 500;
    border-radius: 15px;
    height: 30px;

    &.primary {
        color: $purple-primary;
        border: 1px solid $purple-primary;
        background-color: transparent;

        &:active {
            background-color: $purple-primary;
            color: $white-primary;
        }

    }

    &.secondary {
        color: $white-primary;
        border: 1px solid $purple-primary;
        background-color: $purple-primary;

        &:active {
            background-color: $white-primary;
            color: $purple-primary;
        }
        
    }
    &:disabled {
        background-color: $gray-primary;
        color: $white-primary;
        border: none;
    }

}