<base-title-menu title="Despesas">
<ion-content>
  <div class="container">
    <div class="add-expense">
      <ion-icon 
        (click)="updateExpense()"
        name="add-circle-outline"  
        matTooltip="Adicionar despesa"
        matTooltipPosition="left">
      </ion-icon>
    </div>

    <p>Filtros</p>
    <p (click)="filterExpenses('paid', '==', true)">Pagas</p>
    <p (click)="filterExpenses('paid', '!=', true)">Em Aberto</p (click)="filterExpenses()">
    <p (click)="filterExpenses('expireDate', '<=', new Date())">Vencidas</p>

    <mat-accordion *ngIf="expenses">
      <ng-container *ngFor="let expense of expenses">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ expense.name }}  
              <span class="payment-status" [ngClass]="expense.paid ? 'paid' : 'not-paid'"> 
                {{ expense.paid | paymentStatus: expense }} 
              </span>
          </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="expense-data">
            <p *ngIf="expense.expireDate">Vencimento: <strong>{{ expense.expireDate | date: 'dd/MM/YYYY' }}</strong></p>
            <p *ngIf="expense.paymentDate">Pago dia: <strong>{{ expense.paymentDate | date: 'dd/MM/YYYY' }}</strong></p>
            <p>Valor: 
              <strong>{{ expense.value | currency: 'BRL' }}</strong>
            </p>

            <div class="text-description" *ngIf="expense.description">
              <p>
                {{ expense.description }}
              </p>
            </div>

            <div class="center-items">
              <button class="edit-expense primary" (click)="updateExpense(expense)">
                Editar
                <ion-icon name="create-outline"></ion-icon>
            </button>
            </div>
            
          </div>
        </mat-expansion-panel>    
      </ng-container>
    </mat-accordion>
  </div>

  <button (click)="teste()">teste</button>
</ion-content>
</base-title-menu>
