@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';


.container {

    padding: 10px;

    .filter-container {
        margin-top: .5rem;
        @include display(space-between, center);
        
        .card-filter {
            border-radius: 3px;
            border: 1px solid $gray-primary;
            min-width: 32%;
            height: 3rem;
            padding: .5rem;
            @include display(center, center);
        }
        
        .selected {
            border-color: $green-primary;
        }
    }
    
    p.clear-filters {
        @include display(flex-end, center);
        text-align: end;
        margin: .5rem 0 1.5rem 0;
        color: $gray-primary;

        ion-icon {
            margin-left: .3rem;
        }
    }

    .add-expense {
        padding-right: .5rem;
        @include display(flex-end, center);
        ion-icon {
            color: $green-primary;
            font-size: 1.5rem;
        }

    }

    mat-expansion-panel {
        margin: 6px 0;

        mat-panel-title {
            @include display(flex-start, center)
        }
    
    }
    
    .expense-data {
        
        p { margin: .5rem 0 ;}

        .text-description {
            width: 100%;
            padding: .5rem;
            height: auto;
            margin-top: 1rem;
            border-radius: 5px;
            background: rgba($gray-primary, .4);
            border: 1px solid $gray-primary;
            
            p {
                margin: 0;
            }
        }

        .edit-expense {
            text-align: center;
            margin-top: 1rem;
            @include display(center, center, row);

            ion-icon {
                margin-left: .3rem;
            }
        }
    }

    .payment-status {
        padding: 0.3rem;
        font-weight: 500;
        color: $white-primary;
        border-radius: 3px;
        margin-left: 1rem;
    }

    .paid {
        background-color: $green-primary;
    }
    
    .not-paid {
        background-color: $red-primary;
    }
}
