
<mat-drawer-container class="menu" hasBackdrop="unset">
    <mat-drawer #drawer class="menu-content" mode="over">
        <p>Despesas</p>
    </mat-drawer>
    <mat-drawer-content>
        <ion-header>
            <ion-toolbar>
                <div class="title">
                    <p>{{ title }}</p>
                    <ion-icon (click)="drawer.toggle()" name="reorder-three-outline"></ion-icon>
                </div>
            </ion-toolbar>
        </ion-header>
        <div class="base-container">
            <ng-content></ng-content>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
